# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.venv/
venv/
ENV/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Project-specific folders (large files or generated outputs)
# Ignore everything in data folder
/data/*
# BUT allow these two CSVs:
!/data/books_dataset.csv
!/data/books_dataset_cleaned.csv

figures/
reports/

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# System files
.DS_Store
Thumbs.db

# Misc
*.bak
*.tmp
